<div>
  <label for="name">Name</label>
  <input
    type="text"
    id="name"
    name="name"
    [(ngModel)]="game.name"
    required
    #name="ngModel"
  />
  <div *ngIf="name.invalid && (name.dirty || name.touched)">
    <div *ngIf="name.errors?.['required']">Name is required</div>
  </div>
</div>
<div>
  <label for="imageurl">Picture Url</label>
  <input
    type="text"
    id="imageurl"
    name="imageurl"
    [(ngModel)]="game.imageUrl"
    required
    pattern="https?://.+"
    #imageurl="ngModel"
  />
  <div *ngIf="imageurl.invalid && (imageurl.dirty || imageurl.touched)">
    <div *ngIf="imageurl.errors?.['required']">Image URL is required</div>
    <div *ngIf="imageurl.errors?.['pattern']">Image URL is not valid</div>
  </div>
</div>
<div>
  <label for="daterelease">Release Date</label>
  <input
    type="date"
    id="daterelease"
    name="daterelease"
    [(ngModel)]="game.dateRelease"
  />
</div>
<button (click)="handleSaveClick()">Save</button>
