<div class="container">
  <form #gameForm="ngForm" class="form">
    <app-input-wrapper
      id="name"
      name="name"
      label="Name"
      [(ngModel)]="game.name"
      required
    ></app-input-wrapper>

    <app-input-wrapper
      id="imageurl"
      name="imageurl"
      label="Picture Url"
      [(ngModel)]="game.imageUrl"
      required
      pattern="https?://.+"
    ></app-input-wrapper>

    <app-input-wrapper
      id="daterelease"
      name="daterelease"
      label="Release Date"
      [(ngModel)]="game.dateRelease"
    ></app-input-wrapper>

    <button (click)="handleSaveClick(gameForm)">Save</button>
  </form>
</div>
